In [1]:
pwd

'/Users/andrewgarcia-schanz/Desktop/pepp-mal-virt-fin-pt-04-2021-u-c/01-Lesson-Plans/03-Python-Pandas/2/Activities/07-Stu_Indexing/Resources'

In [4]:
import pandas as pd 
from pathlib import Path

In [5]:
csvpath = Path("loans.csv")

In [9]:
data_csv= pd.read_csv(csvpath)
data_csv.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose
0,10000,10000,10000.0,36 months,0.1033,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-18,Current,n,debt_consolidation
1,4000,4000,4000.0,36 months,0.2340,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-18,Current,n,debt_consolidation
2,5000,5000,5000.0,36 months,0.1797,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-18,Current,n,debt_consolidation
3,9600,9600,9600.0,36 months,0.1298,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-18,Current,n,home_improvement
4,2500,2500,2500.0,36 months,0.1356,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-18,Current,n,debt_consolidation
5,30000,30000,30000.0,60 months,0.1894,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-18,Current,n,debt_consolidation
6,23000,23000,23000.0,60 months,0.2089,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-18,Current,n,debt_consolidation
7,32075,32075,32075.0,60 months,0.1180,710.26,B,B4,Nursing Supervisor,10+ years,MORTGAGE,150000.0,Not Verified,Dec-18,Current,n,credit_card
8,8000,8000,8000.0,36 months,0.2340,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-18,Current,n,debt_consolidation
9,10000,10000,10000.0,60 months,0.1992,264.50,D,D3,Material Handler,10+ years,MORTGAGE,80000.0,Not Verified,Dec-18,Current,n,debt_consolidation

In [10]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   loan_amnt            128412 non-null  int64
 1   funded_amnt          128412 non-null  int64
 2   funded_amnt_inv      128412 non-null  float64
 3   term                 128412 non-null  object
 4   int_rate             128412 non-null  float64
 5   installment          128412 non-null  float64
 6   grade                128412 non-null  object
 7   sub_grade            128412 non-null  object
 8   emp_title            107465 non-null  object
 9   emp_length           116708 non-null  object
 10  home_ownership       128412 non-null  object
 11  annual_inc           128412 non-null  float64
 12  verification_status  128412 non-null  object
 13  issue_d              128412 non-null  object
 14  loan_status          128412 non-null  object
 15  pymnt_plan           128412 non-null  object
 16  purpose              128412 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 16.7+ MB

In [16]:
df.iloc[:, [0, 3, 4, 8, 11, 16]].head()

NameError: name 'df' is not defined

NameError: name 'df' is not defined

In [18]:
df['term'].value_counts()

NameError: name 'df' is not defined

In [19]:
df.insnull()

NameError: name 'df' is not defined