# Neural Network Smartphone Activity Detector

In this activity, you will train a neural network to use smartphone data to predict the activity of the user. 

This dataset has already been separated into input features and target activities. Additional information on the dataset can be found here. 

http://archive.ics.uci.edu/ml/datasets/Smartphone-Based+Recognition+of+Human+Activities+and+Postural+Transitions

### Data Pre-Processing

Prepare the data for the neural network. This includes splitting the data into a training and testing dataset, Scaling the data, and encoding the categorical target values

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
# Upload data to Colab
from google.colab import files

csv_file = files.upload()

Saving features.csv to features.csv

In [3]:
# Read the input features into `X`
X = pd.read_csv("features.csv", header=None)
X.head()

        0         1         2    ...       558       559       560
0  0.043580 -0.005970 -0.035054  ... -0.841559  0.179913 -0.051718
1  0.039480 -0.002131 -0.029067  ... -0.845092  0.180261 -0.047436
2  0.039978 -0.005153 -0.022651  ... -0.849230  0.180610 -0.042271
3  0.039785 -0.011809 -0.028916  ... -0.848947  0.181907 -0.040826
4  0.038758 -0.002289 -0.023863  ... -0.848164  0.185124 -0.037080

[5 rows x 561 columns]

In [4]:
# Upload data to Colab
csv_file = files.upload()

Saving target.csv to target.csv

In [5]:
# Read the target values into `y`
y = pd.read_csv("target.csv")
y.head()

   activity
0  standing
1  standing
2  standing
3  standing
4  standing

In [6]:
y.activity.value_counts()

standing              1423
laying                1413
sitting               1293
walking               1226
walking_upstairs      1073
walking_downstairs     987
stand_to_lie            90
sit_to_lie              75
lie_to_sit              60
lie_to_stand            57
stand_to_sit            47
sit_to_stand            23
Name: activity, dtype: int64

In [7]:
# Split the dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
# Scale the training and testing input features using StandardScaler
X_scaler = StandardScaler()
X_scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Apply One-hot encoding to the target labels
enc = OneHotEncoder()
enc.fit(y_train)

encoded_y_train = enc.transform(y_train).toarray()
encoded_y_test = enc.transform(y_test).toarray()
encoded_y_train[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.])

# Build a Deep Neural Network

In [10]:
# Create a sequential model
model = Sequential()

In [11]:
# Add the first layer where the input dimensions are the 561 columns of the training data
model.add(Dense(100, activation='relu', input_dim=X_train_scaled.shape[1]))

In [12]:
# The output layer has 12 columns that are one-hot encoded
y_train.activity.value_counts()
number_outputs = 12

In [13]:
# Add output layer using 12 output nodes
model.add(Dense(number_outputs, activation="softmax"))

In [14]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])

In [15]:
# Print the model summary
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               56200
_________________________________________________________________
dense_1 (Dense)              (None, 12)                1212
=================================================================
Total params: 57,412
Trainable params: 57,412
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Use the training data to fit (train) the model
# @NOTE: Experiment with the number of training epochs to find the minimum iterations required to achieve a good accuracy
model.fit(
    X_train_scaled,
    encoded_y_train,
    epochs=30,
    shuffle=True,
    verbose=2
)

Epoch 1/30
183/183 - 1s - loss: 0.3800 - accuracy: 0.8654
Epoch 2/30
183/183 - 0s - loss: 0.1247 - accuracy: 0.9585
Epoch 3/30
183/183 - 0s - loss: 0.0865 - accuracy: 0.9720
Epoch 4/30
183/183 - 0s - loss: 0.0808 - accuracy: 0.9732
Epoch 5/30
183/183 - 0s - loss: 0.0543 - accuracy: 0.9813
Epoch 6/30
183/183 - 0s - loss: 0.0527 - accuracy: 0.9815
Epoch 7/30
183/183 - 0s - loss: 0.0409 - accuracy: 0.9845
Epoch 8/30
183/183 - 0s - loss: 0.0304 - accuracy: 0.9890
Epoch 9/30
183/183 - 0s - loss: 0.0306 - accuracy: 0.9885
Epoch 10/30
183/183 - 0s - loss: 0.0262 - accuracy: 0.9918
Epoch 11/30
183/183 - 0s - loss: 0.0226 - accuracy: 0.9918
Epoch 12/30
183/183 - 0s - loss: 0.0184 - accuracy: 0.9947
Epoch 13/30
183/183 - 0s - loss: 0.0374 - accuracy: 0.9890
Epoch 14/30
183/183 - 0s - loss: 0.0337 - accuracy: 0.9909
Epoch 15/30
183/183 - 0s - loss: 0.0166 - accuracy: 0.9945
Epoch 16/30
183/183 - 0s - loss: 0.0155 - accuracy: 0.9952
Epoch 17/30
183/183 - 0s - loss: 0.0145 - accuracy: 0.9964
Epoch 18/30
183/183 - 0s - loss: 0.0057 - accuracy: 0.9993
Epoch 19/30
183/183 - 0s - loss: 0.0059 - accuracy: 0.9993
Epoch 20/30
183/183 - 0s - loss: 0.0033 - accuracy: 1.0000
Epoch 21/30
183/183 - 0s - loss: 0.0046 - accuracy: 0.9988
Epoch 22/30
183/183 - 0s - loss: 0.0047 - accuracy: 0.9990
Epoch 23/30
183/183 - 0s - loss: 0.0024 - accuracy: 0.9998
Epoch 24/30
183/183 - 0s - loss: 0.0014 - accuracy: 1.0000
Epoch 25/30
183/183 - 0s - loss: 0.0014 - accuracy: 1.0000
Epoch 26/30
183/183 - 0s - loss: 0.0044 - accuracy: 0.9981
Epoch 27/30
183/183 - 0s - loss: 0.0225 - accuracy: 0.9916
Epoch 28/30
183/183 - 0s - loss: 0.0638 - accuracy: 0.9858
Epoch 29/30
183/183 - 0s - loss: 0.0279 - accuracy: 0.9904
Epoch 30/30
183/183 - 0s - loss: 0.0051 - accuracy: 0.9986

# Evaluate the Model

In [17]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(X_test_scaled, encoded_y_test, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

61/61 - 0s - loss: 0.0880 - accuracy: 0.9737
Normal Neural Network - Loss: 0.08804664760828018, Accuracy: 0.973738431930542

In [18]:
# Make predictions
predicted = model.predict(X_test_scaled)
predicted = enc.inverse_transform(predicted).flatten().tolist()
results = pd.DataFrame({
    "Actual": y_test.activity.values,
    "Predicted": predicted
})
results.head(10)

               Actual           Predicted
0    walking_upstairs    walking_upstairs
1              laying              laying
2             sitting             sitting
3             sitting             sitting
4             walking             walking
5             sitting             sitting
6          lie_to_sit          lie_to_sit
7  walking_downstairs  walking_downstairs
8              laying              laying
9             sitting             sitting

In [19]:
# Print the Classification Report
from sklearn.metrics import classification_report
print(classification_report(results.Actual, results.Predicted))

                    precision    recall  f1-score   support

            laying       1.00      1.00      1.00       355
        lie_to_sit       0.88      0.93      0.90        15
      lie_to_stand       0.82      0.82      0.82        11
        sit_to_lie       0.94      0.65      0.77        23
      sit_to_stand       1.00      1.00      1.00         4
           sitting       0.98      0.93      0.95       337
      stand_to_lie       0.65      0.83      0.73        18
      stand_to_sit       0.87      0.87      0.87        15
          standing       0.94      0.98      0.96       367
           walking       1.00      0.99      1.00       300
walking_downstairs       1.00      1.00      1.00       230
  walking_upstairs       0.98      1.00      0.99       267

          accuracy                           0.97      1942
         macro avg       0.92      0.92      0.92      1942
      weighted avg       0.97      0.97      0.97      1942