In [1]:
pwd

'/Users/andrewgarcia-schanz/Desktop/pepp-mal-virt-fin-pt-04-2021-u-c/01-Lesson-Plans/03-Python-Pandas/3/Activities/09-Stu_Multi_Indexing'

In [2]:
import pandas as pd
from pathlib import Path
from datetime import datetime, date, timedelta

In [4]:
# Read csv data
csv_path = Path("Resources/goog_google_finance.csv")
goog_df = pd.read_csv(
    csv_path, parse_dates=True, index_col="Date", infer_datetime_format=True
)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

In [5]:
# Check for nulls
goog_df.isnull().mean() * 100

# Drop nulls
goog_df = goog_df.dropna()

# Drop duplicates
goog_df = goog_df.drop_duplicates()

# Validate no more missing values
goog_df.isnull().sum()

Close    0
dtype: int64

In [6]:
# Set multi-index by grouping
goog_df_grp = goog_df.groupby([goog_df.index.year, goog_df.index.month]).first()
goog_df_grp.head()

             Close
Date Date
2019 2     1119.92
     3     1173.31
     4     1188.48
     5     1132.03

In [7]:
# Select GOOG `Close` for May 2019
google_may_2019_data = goog_df_grp.loc[2019, 5]
google_may_2019_data

Close    1132.03
Name: (2019, 5), dtype: float64

In [8]:
# calculate mean price for GOOG for May 2019 
goog_mean_may_2019 = goog_df_grp.loc[2019].mean()
goog_mean_may_2019

Close    1153.435
dtype: float64